*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --color-yellow:#F4D04E;
    --color-black:#111111;
    --color-grey:#6B6B6B;
    --color-white:#FFFFFF;

    --font-Figtree-extra-bold:./assets/fonts//static/Figtree-ExtraBold.ttf;
    --font-Figtree-medium:./assets/fonts//static/Figtree-Medium.ttf;

    --color-background:var(--color-yellow);
    --color-surface-card:var(--color-white);
    --color-title-hover:var(--color-yellow);
    --color-border-card:var(--color-grey);
    --color-text-primary:var(--color-black);
    --color-text-secondary:var(--color-grey);

    --font-size-title:2.4rem;
    --font-size-primary-body:1.6rem;
    --font-size-secondary-body:1.4rem;

    --font-line-height:150%;

    --font-letter-spacing-title:0rem;

    --spacing-300:2.4rem;
    --spacing-150:1.2rem;
    --spacing-100:0.8rem;
    --spacing-50:0.4rem;

}

body{

    /* Layout  & Positioning */
    display: grid;
    place-items: center;
    min-height: 100vh;

    /* Box Model */
    
    padding: var(--spacing-300);

    /* Visual */
    background-color: var(--color-background);
    font-family: 'Figtree', sans-serif;
    

}

.card{

    /* Layout  & Positioning */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


    /* Box Model */
    width: 100%;
    max-width: 38.4rem;
    height: auto;
    min-height: 47.4rem;
    max-height: 47.4rem; 
    padding: var(--spacing-300);
   
    
    /* Visual */
    background-color: var(--color-surface-card);
    border-radius: 2.0rem;
    border: 1px solid var(--color-border-card);
    box-shadow: 0.8rem 0.8rem 0rem 0rem var(--color-black);

}

.illustration{
    /* Layout  & Positioning */


    /* Box Model */
    width: 100%;
    max-width: 36.3rem;
    height: auto;
    border-radius: 1.0rem;

    /* Visual */
    object-fit: contain;
}

.card p{
    margin-top: var(--spacing-150);
}

.category{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: 0.4rem;
    padding-top: var(spacing-300);

    font-family: var(--font-Figtree-extra-bold);
    font-size: var(--font-size-secondary-body);
    font-weight: 800;
    letter-spacing: var(--font-letter-spacing-title);

}

.date{
    color: var(--color-text-primary);
    font-family: var(--font-Figtree-medium);
    font-size: var(--font-size-secondary-body);
    font-weight: 500;
    line-height: var(--font-line-height);
    letter-spacing: var(--font-letter-spacing-title);
}

.card h1{
    color: var(--color-text-primary);
    font-family: var(--font-Figtree-extra-bold);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: 800;
    margin-top: var(--spacing-150);
    line-height: var(--font-line-height);
    letter-spacing: var(--font-letter-spacing-title);
}

.description{
    color: var(--color-text-secondary);
    font-family: var(--font-Figtree-medium);
    font-size: var(--font-size-primary-body);
    font-weight: 500;
    line-height: var(--font-line-height);
    letter-spacing: var(--font-letter-spacing-title);
}

.author{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

}
.author-image{

   border-radius: 20px;
   width: 3.2rem;
   height: 3.2rem;
}
.author-name{
    color: var(--color-text-primary);
    font-family: var(--font-Figtree-extra-bold);
    font-size: var(--font-size-secondary-body);
    font-weight: 800;
    line-height: var(--font-line-height);
    letter-spacing: var(--font-letter-spacing-title);
    padding: var(--spacing-150);
}
